@page
@model VehiculosTransporte.App.Frontend.Pages.DetallesVerificacionModel
@{
}
<h2> Detalles de la Verificacion </h2>
<div>Id: @Model.verificacion.Id</div>
<div>MecanicoId: @Model.verificacion.MecanicoId</div>
<div>VehiculoId: @Model.verificacion.VehiculoId</div>
<div>Nivel_Aceite: @Model.verificacion.Nivel_Aceite</div>
<div>Nivel_Liquido_frenos: @Model.verificacion.Nivel_Liquido_frenos</div>
<div>Nivel_Refrigerante: @Model.verificacion.Nivel_Refrigerante</div>
<div>Nivel_Liquido_direccion: @Model.verificacion.Nivel_Liquido_direccion</div>




<h1>Repuestos</h1>
    <table class="table table-bordered">
    <thead>
        <tr>
        <th scope="col">Id</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Precio</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var repuesto in Model.repuestos){
            <tr>
            <td>@repuesto.Id</td>
            <td>@repuesto.Descripcion</td>
            <td>@repuesto.Precio</td>
            <td><a class="btn btn-primary table-btn" asp-page="../Repuestos/EditarRepuesto" asp-route-repuestoId="@repuesto.Id">Editar</a>
                <a asp-page="../Repuestos/EditarRepuesto"
                onclick="return confirm('Seguro que deseas eliminar este repuesto?');"
                asp-page-handler="Delete" asp-route-repuestoId="@repuesto.Id">Delete</a>
            </td>
            </tr>
        }
    </tbody>
    </table>
    <a asp-page="../Repuestos/EditarRepuesto" class="btn btn-primary table-btn" asp-route-VerificacionId="@Model.verificacion.Id">Adicionar repuesto</a>
