@page
@model VehiculosTransporte.App.Frontend.Pages.DetallesVerificacionModel
@{
}
<div class="container">
<h2> Detalles de la Verificacion </h2>
<div><b>Id:</b> @Model.verificacion.Id</div>
<div><b>MecánicoId:</b> @Model.verificacion.MecanicoId</div>
<div><b>VehículoId:</b> @Model.verificacion.VehiculoId</div>
<div><b>Nivel Aceite:</b> @Model.verificacion.Nivel_Aceite</div>
<div><b>Nivel Líquido Frenos:</b> @Model.verificacion.Nivel_Liquido_frenos</div>
<div><b>Nivel Refrigerante:</b> @Model.verificacion.Nivel_Refrigerante</div>
<div><b>Nivel Líquido Dirección:</b> @Model.verificacion.Nivel_Liquido_direccion</div>
</div>


<div class="container">
<h1>Repuestos</h1>
    <table class="table table-bordered">
    <thead>
        <tr>
        <th scope="col">Id</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Precio</th>
    <th><a asp-page="../Repuestos/EditarRepuesto" class="btn btn-dark" asp-route-VerificacionId="@Model.verificacion.Id"><i class="fa-solid fa-plus"></i>Añadir Repuesto</a></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var repuesto in Model.repuestos){
            <tr>
            <td>@repuesto.Id</td>
            <td>@repuesto.Descripcion</td>
            <td>@repuesto.Precio</td>
            <td><a class="btn btn-dark" asp-page="../Repuestos/EditarRepuesto" asp-route-repuestoId="@repuesto.Id"><i class="fa-solid fa-pen-to-square"></i></a>
                <a class="btn btn-dark" asp-page="../Repuestos/EditarRepuesto"
                onclick="return confirm('Seguro que deseas eliminar este repuesto?');"
                asp-page-handler="Delete" asp-route-repuestoId="@repuesto.Id"><i class="fa-solid fa-trash-can"></i></a>
            </td>
            </tr>
        }
    </tbody>
    </table>
    </div>
