@page
@model VehiculosTransporte.App.Frontend.Pages.ListarVerificacion
@{
}
<h1>Verificación</h1>
    <table class="table table-bordered" id="tablaVerificacion">
    <thead>
        <tr>
        <th scope="col">Id</th>
        <th scope="col">Mecanico</th>
        <th scope="col">Vehiculo</th>
        <th scope="col">Nivel de Aceite</th>
        <th scope="col">Nivel de Líquido frenos</th>
        <th scope="col">Nivel de Refrigerante</th>
        <th scope="col">Nivel de Líquido Dirección</th>
        <th><a asp-page="./EditarVerificacion" class="btn btn-dark" ><i class="fa-solid fa-plus"></i> Añadir Verificación</a></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var verificacion in Model.verificaciones){
            <tr>
            <td>@verificacion.Id</td>
            <td>@verificacion.Mecanico.Nombres</td>
            <td>@verificacion.Vehiculo.Placa</td>
            <td>@verificacion.Nivel_Aceite</td>
            <td>@verificacion.Nivel_Liquido_frenos</td>
            <td>@verificacion.Nivel_Refrigerante</td>
            <td>@verificacion.Nivel_Liquido_direccion</td>
            <td><a class="btn btn-dark"  asp-page="./DetallesVerificacion" asp-route-verificacionId="@verificacion.Id"><i class="fa-solid fa-circle-info"></i></a>
            <a class="btn btn-dark"  asp-page="./EditarVerificacion" asp-route-verificacionId="@verificacion.Id"><i class="fa-solid fa-pen-to-square"></i></a>
            <a class="btn btn-dark" asp-page="./EditarVerificacion"
            onclick="return confirm('Seguro que deseas eliminar esta verificacion?');"
            asp-page-handler="Delete" asp-route-VerificacionId="@verificacion.Id"><i class="fa-solid fa-trash-can"></i></a>
            </td>
            </tr>
        }
    </tbody>
    </table>
