@page
@model VehiculosTransporte.App.Frontend.Pages.DetallesPersonaModel
@{
}
<div class="container">
<h2> Detalles de persona </h2>
<div>Id: @Model.persona.Id</div>
<div>Nombre: @Model.persona.Nombres</div>
<div>Apellido: @Model.persona.Apellidos</div>
<div>Cedula: @Model.persona.Cedula</div>
<div>Numero de telefono: @Model.persona.Numero_Telefono</div>
<div>Direccion: @Model.persona.Direccion</div>
</div>
