@page
@model VehiculosTransporte.App.Frontend.Pages.DetallesVehiculoModel
@{
}
<h2> Detalles de persona </h2>
<div>Id: @Model.persona.Id</div>
<div>Nombre: @Model.persona.Nombre</div>
<div>Apellido: @Model.persona.Apellido</div>
<div>Cedula: @Model.persona.cedula</div>
<div>Numero de telefono: @Model.persona.Numero.de.telefono tee</div>
<div>Direccion: @Model.persona.Direcciom¿n</div>

