@page
@model VehiculosTransporte.App.Frontend.Pages.DetallesPersonaModel
@{
}
<div class="container">
<h2> Detalles de persona </h2>
<div><b>Id:</b> @Model.persona.Id</div>
<div><b>Nombre:</b> @Model.persona.Nombres</div>
<div><b>Apellido:</b> @Model.persona.Apellidos</div>
<div><b>Cédula:</b> @Model.persona.Cedula</div>
<div><b>Número de teléfono:</b> @Model.persona.Numero_Telefono</div>
<div><b>Dirección:</b> @Model.persona.Direccion</div>
</div>
