@page
@model VehiculosTransporte.App.Frontend.Pages.ListarPersona
@{
}
<h1>Personas</h1>

    <table class="table table-bordered" id="tablaPersonas">
    <thead>
        <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Cédula</th>
        <th scope="col">Número Teléfono</th>
        <th scope="col">Dirección</th>
        <th scope="col">Tipo</th>
        <th scope="col">Vehiculo</th>
        <th><a asp-page="./EditarPersona" class="btn btn-dark"><i class="fa-solid fa-plus"></i> Añadir Persona</a></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var persona in Model.personas){
            <tr>
            <td>@persona.Id</td>
            <td>@persona.Nombres</td>
            <td>@persona.Apellidos</td>
            <td>@persona.Cedula</td>
            <td>@persona.Numero_Telefono</td>
            <td>@persona.Direccion</td>
            <td>@persona.Discriminator</td>
            <td>@persona.VehiculoId</td>
            <td><a class="btn btn-dark" asp-page="./DetallesPersona" asp-route-personaId="@persona.Id"><i class="fa-solid fa-circle-info"></i></a>
            <a class="btn btn-dark" asp-page="./EditarPersona" asp-route-personaId="@persona.Id"><i class="fa-solid fa-pen-to-square"></i></a>
            <a class="btn btn-dark" asp-page="./EditarPersona"
            onclick="return confirm('Seguro que deseas eliminar este Persona?');"
            asp-page-handler="Delete" asp-route-PersonaId="@persona.Id"><i class="fa-solid fa-trash-can"></i></a>
            </td>
            </tr>
        }
    </tbody>
    </table>

    