@page
@model VehiculosTransporte.App.Frontend.Pages.DetallesVehiculoModel
@{
}
<div class="container">
<h2> Detalles del Vehiculo </h2>
<div>Id: @Model.vehiculo.Id</div>
<div>Placa: @Model.vehiculo.Placa</div>
<div>Marca: @Model.vehiculo.Marca</div>
<div>Modelo: @Model.vehiculo.Modelo</div>
<div>Expiracion_tenicomecanica: @Model.vehiculo.Expiracion_tenicomecanica</div>
<div>Expiracion_soat: @Model.vehiculo.Expiracion_soat</div>
<div>Expiracion_seguro_contractual: @Model.vehiculo.Expiracion_seguro_contractual</div>
<div>Expiracion_extra_contractual: @Model.vehiculo.Expiracion_extra_contractual</div>
</div>