@page
@model VehiculosTransporte.App.Frontend.Pages.DetallesVehiculoModel
@{
}
<div class="container">
<h2> Detalles del Vehículo </h2>
<div><b>Id:</b> @Model.vehiculo.Id</div>
<div><b>Placa:</b> @Model.vehiculo.Placa</div>
<div><b>Marca:</b> @Model.vehiculo.Marca</div>
<div><b>Modelo:</b> @Model.vehiculo.Modelo</div>
<div><b>Expiración Técnico Mecánica:</b> @Model.vehiculo.Expiracion_tenicomecanica</div>
<div><b>Expiración Soat:</b> @Model.vehiculo.Expiracion_soat</div>
<div><b>Expiración Seguro Contractual:</b> @Model.vehiculo.Expiracion_seguro_contractual</div>
<div><b>Expiración Extra Contractual:</b> @Model.vehiculo.Expiracion_extra_contractual</div>
</div>